---
---

@import "minima";

.site-title,
.site-title:visited {
  display: none !important;
}

body > header > div > nav > div > a {
  display: none !important;
}

.home .page-heading,
.home h1 {
  display: none !important;
}

.site-header {
  min-height: 0;
}
