---
---

@import "minima";

.site-title,
.site-title:visited {
  display: none !important;
}

.trigger .page-link:first-child {
  display: none !important;
}

.home .page-heading,
.home h1#zude0202githubio {
  display: none !important;
}

.site-header {
  min-height: 0;
}
