---
---

@import "minima";

.site-title,
.site-title:visited {
  display: none !important;
}

.site-header {
  min-height: 0;
}

.site-header .wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
